body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background-color: #282c34;
    color: #61dafb;
}

.clock-container {
    display: flex;
    font-size: 3rem;
}

.time {
    margin: 0 10px;
}
